[Desktop Entry]
Version=1.0
Name=SmartSDR_RDX6600
Comment=SmartSDR RDX6600
Exec=/home/raymundd/Flexradio/g6ujb-multi-smartsdr-linux/start_smartsdr.sh 3.2.39 RDX6600 raymundd radiotools
Terminal=true
Icon=36C5_SmartSDR.0
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Audio;HamRadio;
StartupNotify=true